In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

In [5]:
df = pd.read_csv(url, '\t') #tsv is tab separated values.

C:\Users\Roopal\AppData\Local\Temp\ipykernel_10056\877720251.py:1: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  df = pd.read_csv(url, '\t') #tab seperated

In [6]:
chipo = df

In [7]:
chipo #the file

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [8]:
chipo.head(10) #first 10 entries

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [15]:
chipo.tail() #last 10 entries

,order_id,quantity,item_name,choice_description,item_price
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [10]:
chipo.shape #rows and columns of the dataset

(4622, 5)

In [11]:
chipo.describe() #statistical information about the dataset

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [12]:
chipo.info() #information about all the columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [13]:
chipo.shape[1] #column number

5

In [14]:
chipo.shape[0] #rows number

4622

In [17]:
chipo.columns #name of all the columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [19]:
chipo.index #how is the dataset indexed

RangeIndex(start=0, stop=4622, step=1)

In [31]:
item_quants = (chipo.groupby(['item_name']).agg({'quantity':'sum'}))  #the quantity totally is getting summed up 
#The agg() method allows you to apply a function or a list of function names to be executed along one of the axis of the DataFrame

In [51]:
no_of_each_items = item_quants.sort_values('quantity',ascending=False)[:5]   # for sorting the data according to quantity in decreasing values. Top 5

In [52]:
no_of_each_items

                     quantity
item_name
Chicken Bowl              761
Chicken Burrito           591
Chips and Guacamole       506
Steak Burrito             386
Canned Soft Drink         351

In [57]:
no_of_each_items[:1] #this gives the most ordered it

              quantity
item_name
Chicken Bowl       761

In [64]:
#the most ordered choice description
item_quants = (chipo.groupby(['choice_description']).agg({'quantity':'sum'}))  
no_of_each_items = item_quants.sort_values('quantity',ascending=False)[:1] 
no_of_each_items

                    quantity
choice_description
[Diet Coke]              159

In [65]:
chipo.quantity.sum()  #sum of all items ordered

4972

In [74]:
chipo['item_price']=chipo.item_price.str.slice(1).astype(float) #converting item price to string data type

In [76]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [89]:
chipo['item_price'].sum() #total revenue generated

34500.16

In [101]:
chipo.shape[0] #total number of orders

4622

In [102]:
chipo['item_price'].sum() / chipo.shape[0] #average price per order or we can follow the method of mean() as shown below

7.464335785374297

In [98]:
chipo['item_price'].mean()

7.464335785374397

In [103]:
chipo.item_name.nunique()   #these are the different (unique) items sold

50